@page "/"

<PageTitle>Index</PageTitle>

<div id="loadup-wrapper">
	<div id="loadup-content">

		<h3>Select your role</h3>
		<a href="tasks?role=cleaning" class="loadup-role">
			<h5>Cleaning</h5>
		</a>
		<a href="tasks?role=maintenance" class="loadup-role">
			<h5>Maintenance</h5>
		</a>
		<a href="tasks?role=service" class="loadup-role">
			<h5>Service</h5>
		</a>
	</div>
</div>